.version.bjm /* version checker */
{
	color: #0000FF;
	background-color: #F66E00;
}

@-ms-viewport
{
	width: 365px;
}

@-webkit-viewport
{
	width: 365px;
}

@-o-viewport
{
	width: 365px;
}

@-moz-viewport
{
	width: 365px;
}

@viewport
{
	width: 365px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 570px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #009245));
	background: -webkit-linear-gradient(left,#000000 ,#009245 100%);
	background: linear-gradient(to right,#000000 ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF009245, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF009245', GradientType=1)";
	border-style: none;
	border-color: #000000;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 34px;
	width: 0.01px;
}

#pu490
{
	width: 0.01px;
	margin-left: 15px;
}

#u490
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u492
{
	z-index: 5;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u494
{
	z-index: 7;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u494-bw
{
	z-index: 7;
	margin-top: 13px;
	height: 5px;
}

#u488
{
	z-index: 2;
	width: 308px;
	min-height: 243px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 13px;
	position: relative;
}

#u501
{
	z-index: 16;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u494::before,#u501::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u501-bw
{
	z-index: 16;
	margin-top: 7px;
	height: 5px;
}

#pbuttonu497
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 25px;
}

#buttonu497
{
	z-index: 8;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#u498
{
	z-index: 10;
	min-height: 22px;
	min-width: 88px;
	vertical-align: top;
	height: 22px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
	background: url("../images/u498.png") no-repeat 0px 0px;
}

#buttonu497:hover #u498
{
	height: 22px;
	width: 88px;
	background: url("../images/u498-r.png") no-repeat 0px 0px;
}

#buttonu497 #u498
{
	height: 22px;
	width: 88px;
}

#buttonu499
{
	z-index: 12;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 187px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu497:hover,#buttonu499:hover
{
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u500
{
	z-index: 14;
	height: 22px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
	background: url("../images/u500_states.png") no-repeat 0px 0px;
}

#u500_states
{
	min-height: 22px;
	min-width: 85px;
	vertical-align: top;
}

#buttonu499:hover #u500_states
{
	height: 22px;
	width: 85px;
	background: url("../images/u500_states-r.png") no-repeat 0px 0px;
}

#buttonu499 #buttonu499:hover #u500_states
{
	height: 22px;
	width: 85px;
}

body
{
	position: relative;
	min-width: 365px;
}

#page .verticalspacer
{
	clear: both;
}

