.version.bobby_jones /* version checker */
{
	color: #00001E;
	background-color: #AA5604;
}

@-ms-viewport
{
	width: 369px;
}

@-webkit-viewport
{
	width: 369px;
}

@-o-viewport
{
	width: 369px;
}

@-moz-viewport
{
	width: 369px;
}

@viewport
{
	width: 369px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 534px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(left,#000000 ,#39B54A 100%);
	background: linear-gradient(to right,#000000 ,#39B54A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF39B54A, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF39B54A', GradientType=1)";
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: -2px;
}

#page::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
	top: -2px;
	bottom: 0px;
	left: 0px;
	width: 369px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 20px;
	width: 0.01px;
}

#pu273
{
	width: 0.01px;
	margin-left: 15px;
}

#u273
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u275
{
	z-index: 12;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u277
{
	z-index: 14;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u277-bw
{
	z-index: 14;
	margin-top: 13px;
	height: 5px;
}

#u234-8
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 13px;
	position: relative;
}

#u415
{
	z-index: 42;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u415-bw
{
	z-index: 42;
	margin-top: 14px;
	height: 5px;
}

#ppu285-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 18px;
}

#pu285-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u285-4
{
	z-index: 15;
	width: 142px;
	min-height: 21px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u285-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 141px;
	margin: 0px -1px -1px 0px;
}

#u286-4
{
	z-index: 19;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin-left: 6px;
	margin-top: 8px;
	position: relative;
}

#u286-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 8px -1px -1px 6px;
}

#u287-4
{
	z-index: 23;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin-left: 7px;
	margin-top: 8px;
	position: relative;
}

#u287-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 8px -1px -1px 7px;
}

#u288-4
{
	z-index: 27;
	width: 142px;
	min-height: 21px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin-top: 12px;
	position: relative;
}

#u288-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 141px;
	margin: 12px -1px -1px 0px;
}

#u296
{
	z-index: 40;
	width: 112px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u295
{
	z-index: 39;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u277::before,#u415::before,#u295::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u295-bw
{
	z-index: 39;
	margin-top: 67px;
	height: 5px;
}

#pbuttonu291
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 14px;
}

#buttonu291
{
	z-index: 31;
	width: 150px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu291:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u292
{
	z-index: 33;
	min-height: 22px;
	min-width: 88px;
	vertical-align: top;
	height: 22px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
	background: url("../images/u292.png") no-repeat 0px 0px;
}

#buttonu291:hover #u292
{
	height: 22px;
	width: 88px;
	background: url("../images/u292-r.png") no-repeat 0px 0px;
}

#buttonu291 #u292
{
	height: 22px;
	width: 88px;
}

#buttonu293
{
	z-index: 35;
	width: 145px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 186px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu293:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 145px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u294
{
	z-index: 37;
	height: 22px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
	background: url("../images/u294_states.png") no-repeat 0px 0px;
}

#u294_states
{
	min-height: 22px;
	min-width: 85px;
	vertical-align: top;
}

#buttonu293:hover #u294_states
{
	height: 22px;
	width: 85px;
	background: url("../images/u294_states-r.png") no-repeat 0px 0px;
}

#buttonu293 #buttonu293:hover #u294_states
{
	height: 22px;
	width: 85px;
}

body
{
	position: relative;
	min-width: 369px;
}

#page .verticalspacer
{
	clear: both;
}

