.version.browns /* version checker */
{
	color: #0000E5;
	background-color: #4EC2F7;
}

@-ms-viewport
{
	width: 365px;
}

@-webkit-viewport
{
	width: 365px;
}

@-o-viewport
{
	width: 365px;
}

@-moz-viewport
{
	width: 365px;
}

@viewport
{
	width: 365px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 188px;
	min-height: 68px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 184px 49px 318px 128px;
}

#u237-8
{
	z-index: 2;
	width: 188px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 365px;
}

#page .verticalspacer
{
	clear: both;
}

