.version.courses /* version checker */
{
	color: #000017;
	background-color: #F53B99;
}

@-ms-viewport
{
	width: 365px;
}

@-webkit-viewport
{
	width: 365px;
}

@-o-viewport
{
	width: 365px;
}

@-moz-viewport
{
	width: 365px;
}

@viewport
{
	width: 365px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 361px;
	min-height: 566px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #009245));
	background: -webkit-linear-gradient(left,#000000 ,#009245 100%);
	background: linear-gradient(to right,#000000 ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF009245, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF009245', GradientType=1)";
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
}

#page_position_content
{
	padding-top: 5px;
	padding-bottom: 32px;
	width: 0.01px;
}

#pu134
{
	width: 0.01px;
	margin-left: 13px;
}

#u134
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u138
{
	z-index: 4;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u264
{
	z-index: 53;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u264-bw
{
	z-index: 53;
	margin-top: 13px;
	height: 5px;
}

#ppu256
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 8px;
}

#u256
{
	z-index: 36;
	min-height: 40px;
	min-width: 94px;
	vertical-align: top;
	height: 34px;
	width: 88px;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u256.png") no-repeat 0px 0px;
}

#u256:hover
{
	height: 40px;
	width: 94px;
	background: url("../images/u256-r.png") no-repeat 0px 0px;
}

#u257
{
	z-index: 39;
	min-height: 40px;
	min-width: 94px;
	vertical-align: top;
	height: 34px;
	width: 88px;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
	background: url("../images/u257.png") no-repeat 0px 0px;
}

#u257:hover
{
	height: 40px;
	width: 94px;
	background: url("../images/u257-r.png") no-repeat 0px 0px;
}

#u269
{
	z-index: 59;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u269-bw
{
	z-index: 59;
	margin-top: 9px;
	height: 5px;
}

#pu258-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 9px;
}

#u258-4
{
	z-index: 41;
	width: 144px;
	min-height: 21px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u258-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 143px;
	margin: 4px -10001px -1px 0px;
}

#u251-4
{
	z-index: 15;
	width: 88px;
	min-height: 21px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 197px;
}

#u251-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 87px;
	margin: 0px -10001px -1px 0px;
}

#pu254-4
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 5px;
}

#u254-4
{
	z-index: 27;
	width: 90px;
	min-height: 16px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u254-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 89px;
	margin: 3px -10001px -1px 0px;
}

#u253-4
{
	z-index: 23;
	width: 90px;
	min-height: 18px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u253-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 89px;
	margin: 0px -10001px -1px 0px;
}

#pu259-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 10px;
}

#u259-4
{
	z-index: 45;
	width: 142px;
	min-height: 21px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u259-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 141px;
	margin: 1px -10001px -1px 0px;
}

#u255-4
{
	z-index: 31;
	width: 158px;
	min-height: 22px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u255-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 157px;
	margin: 0px -10001px -1px 0px;
}

#ppu260-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 8px;
}

#pu260-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u260-4
{
	z-index: 49;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u260-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -1px -1px 0px;
}

#u268-4
{
	z-index: 55;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u268-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 8px -1px -1px 1px;
}

#u252-4
{
	z-index: 19;
	width: 155px;
	min-height: 19px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 163px;
}

#u252-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 154px;
	margin: 3px -10001px -1px 0px;
}

#pu271-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 29px;
}

#u271-4
{
	z-index: 60;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u418-4
{
	z-index: 64;
	width: 131px;
	min-height: 17px;
	border-color: #8CC63F;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u271-4:hover,#u418-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #8CC63F;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 0px -10001px -1px 0px;
}

#u265
{
	z-index: 54;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u264::before,#u269::before,#u265::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u265-bw
{
	z-index: 54;
	margin-top: 15px;
	height: 5px;
}

#pbuttonu206
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 31px;
}

#buttonu206
{
	z-index: 6;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu206.ButtonSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#u207-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
}

#buttonu208
{
	z-index: 11;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 181px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu208:hover
{
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u209
{
	z-index: 13;
	height: 22px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
	background: url("../images/u209_states.png") no-repeat 0px 0px;
}

#u209_states
{
	min-height: 22px;
	min-width: 85px;
	vertical-align: top;
}

#buttonu208:hover #u209_states
{
	height: 22px;
	width: 85px;
	background: url("../images/u209_states-r.png") no-repeat 0px 0px;
}

#buttonu208 #buttonu208:hover #u209_states
{
	height: 22px;
	width: 85px;
}

body
{
	position: relative;
	min-width: 365px;
}

#page .verticalspacer
{
	clear: both;
}

