.version.index /* version checker */
{
	color: #0000FB;
	background-color: #6BAECC;
}

@-ms-viewport
{
	width: 365px;
}

@-webkit-viewport
{
	width: 365px;
}

@-o-viewport
{
	width: 365px;
}

@-moz-viewport
{
	width: 365px;
}

@viewport
{
	width: 365px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 11px;
}

#page::before
{
	box-shadow: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 365px;
}

#page_position_content
{
	padding-bottom: 25px;
	width: 0.01px;
}

#u571
{
	z-index: 24;
	min-height: 157px;
	background: -webkit-gradient(linear, center top, center bottom, from(#00B2EC),color-stop(100%, #12210B));
	background: -webkit-linear-gradient(top,#00B2EC ,#12210B 100%);
	background: linear-gradient(to bottom,#00B2EC ,#12210B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF00B2EC, endColorstr=#FF12210B, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00B2EC', endColorstr='#FF12210B', GradientType=0)";
}

#u565
{
	z-index: 25;
	width: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u571-bw
{
	z-index: 24;
	min-height: 157px;
}

#ppu201
{
	width: 0.01px;
}

#pu201
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin: 62px -10000px -1px 20px;
}

#u201
{
	z-index: 0;
	width: 308px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu202-5
{
	width: 0.01px;
	position: relative;
	left: 28px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 20px;
}

#u202-5
{
	z-index: 13;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	position: relative;
}

#u204-4
{
	z-index: 18;
	margin-top: 37px;
	position: relative;
}

#u204-4_img
{
	display: block;
	vertical-align: top;
}

#u109
{
	z-index: 2;
	width: 99px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 252px;
}

#u262
{
	z-index: 22;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u262-bw
{
	z-index: 22;
	margin-top: 44px;
	height: 5px;
}

#u263
{
	z-index: 23;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u262::before,#u263::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u263-bw
{
	z-index: 23;
	margin-top: 7px;
	height: 5px;
}

#pbuttonu115
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 15px;
}

#buttonu115
{
	z-index: 4;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#u116
{
	z-index: 6;
	min-height: 22px;
	min-width: 88px;
	vertical-align: top;
	height: 22px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
	background: url("../images/u116.png") no-repeat 0px 0px;
}

#buttonu115:hover #u116
{
	height: 22px;
	width: 88px;
	background: url("../images/u116-r.png") no-repeat 0px 0px;
}

#buttonu115 #u116
{
	height: 22px;
	width: 88px;
}

#buttonu119
{
	z-index: 8;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 183px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu115:hover,#buttonu119:hover
{
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u120
{
	z-index: 10;
	height: 22px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
	background: url("../images/u120_states.png") no-repeat 0px 0px;
}

#u120_states
{
	min-height: 22px;
	min-width: 85px;
	vertical-align: top;
}

#buttonu119:hover #u120_states
{
	height: 22px;
	width: 85px;
	background: url("../images/u120_states-r.png") no-repeat 0px 0px;
}

#buttonu119 #buttonu119:hover #u120_states
{
	height: 22px;
	width: 85px;
}

body
{
	position: relative;
	min-width: 365px;
}

#page .verticalspacer
{
	clear: both;
}

