.version.north_f /* version checker */
{
	color: #000009;
	background-color: #7D63DB;
}

@-ms-viewport
{
	width: 365px;
}

@-webkit-viewport
{
	width: 365px;
}

@-o-viewport
{
	width: 365px;
}

@-moz-viewport
{
	width: 365px;
}

@viewport
{
	width: 365px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 200px;
	min-height: 51px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 160px 82px 359px 83px;
}

#u236-8
{
	z-index: 2;
	width: 200px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 365px;
}

#page .verticalspacer
{
	clear: both;
}

