.version.score_card /* version checker */
{
	color: #00001E;
	background-color: #08CBA8;
}

@-ms-viewport
{
	width: 371px;
}

@-webkit-viewport
{
	width: 371px;
}

@-o-viewport
{
	width: 371px;
}

@-moz-viewport
{
	width: 371px;
}

@viewport
{
	width: 371px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 570px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #39B54A));
	background: -webkit-linear-gradient(left,#000000 ,#39B54A 100%);
	background: linear-gradient(to right,#000000 ,#39B54A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF39B54A, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF39B54A', GradientType=1)";
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: -3px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 20px;
	width: 0.01px;
}

#pu308
{
	width: 0.01px;
	margin-left: 15px;
}

#u308
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u310
{
	z-index: 4;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u312
{
	z-index: 6;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u312-bw
{
	z-index: 6;
	margin-top: 13px;
	height: 5px;
}

#u375-4
{
	z-index: 60;
	width: 185px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-left: 97px;
	margin-top: 11px;
	position: relative;
}

#u401
{
	z-index: 91;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u401-bw
{
	z-index: 91;
	height: 5px;
}

#pu316
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: -4px;
}

#u316
{
	z-index: 7;
	width: 294px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	padding-bottom: 8px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u318-4
{
	z-index: 9;
	width: 315px;
	min-height: 11px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -16px;
}

#u328
{
	z-index: 25;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u329
{
	z-index: 26;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u330
{
	z-index: 27;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u331
{
	z-index: 28;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 125px;
}

#u332
{
	z-index: 29;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u333
{
	z-index: 30;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u334
{
	z-index: 31;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u335
{
	z-index: 32;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u416
{
	z-index: 109;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u405
{
	z-index: 95;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u405-bw
{
	z-index: 95;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 5px;
}

#pu337
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -3px;
}

#u337
{
	z-index: 34;
	width: 365px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #00FFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u373-4
{
	z-index: 52;
	width: 48px;
	min-height: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u349
{
	z-index: 36;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 71px;
}

#u350
{
	z-index: 37;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 104px;
}

#u351
{
	z-index: 38;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 134px;
}

#u352
{
	z-index: 39;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 163px;
}

#u353
{
	z-index: 40;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 196px;
}

#u354
{
	z-index: 41;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 228px;
}

#u355
{
	z-index: 42;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 260px;
}

#u356
{
	z-index: 43;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 292px;
}

#u407
{
	z-index: 97;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u400
{
	z-index: 90;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u400-bw
{
	z-index: 90;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 5px;
}

#pu380
{
	width: 0.01px;
	margin-left: -3px;
	margin-top: -3px;
}

#u380
{
	z-index: 64;
	width: 367px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #00FFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u389-4
{
	z-index: 73;
	width: 55px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u381
{
	z-index: 65;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 73px;
}

#u382
{
	z-index: 66;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 104px;
}

#u383
{
	z-index: 67;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 136px;
}

#u384
{
	z-index: 68;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 166px;
}

#u385
{
	z-index: 69;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 198px;
}

#u386
{
	z-index: 70;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 230px;
}

#u387
{
	z-index: 71;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 262px;
}

#u388
{
	z-index: 72;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 294px;
}

#u408
{
	z-index: 98;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u404
{
	z-index: 94;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u404-bw
{
	z-index: 94;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 5px;
}

#u336
{
	z-index: 33;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u336-bw
{
	z-index: 33;
	margin-top: 13px;
	height: 5px;
}

#pu317
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: -1px;
}

#u317
{
	z-index: 8;
	width: 294px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FF0000;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u319-4
{
	z-index: 13;
	width: 310px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -10px;
}

#u320
{
	z-index: 17;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u321
{
	z-index: 18;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 65px;
}

#u322
{
	z-index: 19;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 97px;
}

#u323
{
	z-index: 20;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u324
{
	z-index: 21;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u325
{
	z-index: 22;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u326
{
	z-index: 23;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u327
{
	z-index: 24;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u417
{
	z-index: 110;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u406
{
	z-index: 96;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u406-bw
{
	z-index: 96;
	margin-top: -3px;
	margin-bottom: -3px;
	height: 5px;
}

#pu338
{
	width: 0.01px;
	margin-top: -3px;
}

#u338
{
	z-index: 35;
	width: 364px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #00FFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u374-4
{
	z-index: 56;
	width: 51px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u365
{
	z-index: 44;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 69px;
}

#u366
{
	z-index: 45;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 102px;
}

#u367
{
	z-index: 46;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 131px;
}

#u368
{
	z-index: 47;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 164px;
}

#u369
{
	z-index: 48;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 194px;
}

#u370
{
	z-index: 49;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 226px;
}

#u371
{
	z-index: 50;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 258px;
}

#u372
{
	z-index: 51;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 290px;
}

#u409
{
	z-index: 99;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 323px;
}

#u402
{
	z-index: 92;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u402-bw
{
	z-index: 92;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 5px;
}

#pu390
{
	width: 0.01px;
	margin-top: -2px;
}

#u390
{
	z-index: 77;
	width: 364px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #00FFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u399-4
{
	z-index: 86;
	width: 55px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: -1px;
}

#u391
{
	z-index: 78;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 69px;
}

#u392
{
	z-index: 79;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 102px;
}

#u393
{
	z-index: 80;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 133px;
}

#u394
{
	z-index: 81;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u395
{
	z-index: 82;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 195px;
}

#u396
{
	z-index: 83;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 227px;
}

#u397
{
	z-index: 84;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 259px;
}

#u398
{
	z-index: 85;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 291px;
}

#u410
{
	z-index: 100;
	width: 3px;
	height: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 323px;
}

#u403
{
	z-index: 93;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u312::before,#u401::before,#u405::before,#u400::before,#u404::before,#u336::before,#u406::before,#u402::before,#u403::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u403-bw
{
	z-index: 93;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 5px;
}

#pbuttonu411
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 14px;
}

#buttonu411
{
	z-index: 101;
	width: 150px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu411:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u412
{
	z-index: 103;
	min-height: 22px;
	min-width: 88px;
	vertical-align: top;
	height: 22px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
	background: url("../images/u412.png") no-repeat 0px 0px;
}

#buttonu411:hover #u412
{
	height: 22px;
	width: 88px;
	background: url("../images/u412-r.png") no-repeat 0px 0px;
}

#buttonu411 #u412
{
	height: 22px;
	width: 88px;
}

#buttonu413
{
	z-index: 105;
	width: 145px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 186px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu413:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 145px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u414
{
	z-index: 107;
	height: 22px;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
	background: url("../images/u414_states.png") no-repeat 0px 0px;
}

#u414_states
{
	min-height: 22px;
	min-width: 85px;
	vertical-align: top;
}

#buttonu413:hover #u414_states
{
	height: 22px;
	width: 85px;
	background: url("../images/u414_states-r.png") no-repeat 0px 0px;
}

#buttonu413 #buttonu413:hover #u414_states
{
	height: 22px;
	width: 85px;
}

body
{
	position: relative;
	min-width: 371px;
}

#page .verticalspacer
{
	clear: both;
}

