.version.store /* version checker */
{
	color: #0000E0;
	background-color: #6508D9;
}

@-ms-viewport
{
	width: 367px;
}

@-webkit-viewport
{
	width: 367px;
}

@-o-viewport
{
	width: 367px;
}

@-moz-viewport
{
	width: 367px;
}

@viewport
{
	width: 367px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 365px;
	min-height: 570px;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #009245));
	background: -webkit-linear-gradient(left,#000000 ,#009245 100%);
	background: linear-gradient(to right,#000000 ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF009245, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF009245', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: -1px;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 29px;
	width: 0.01px;
}

#pu425
{
	width: 0.01px;
	margin-left: 15px;
}

#u425
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u427
{
	z-index: 5;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u431
{
	z-index: 7;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u431-bw
{
	z-index: 7;
	margin-top: 17px;
	height: 5px;
}

#pu470
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 10px;
}

#u470
{
	z-index: 2;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 125px;
}

#u469-4
{
	z-index: 30;
	width: 41px;
	min-height: 12px;
	background-color: transparent;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#u446
{
	z-index: 8;
	width: 143px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 197px;
}

#u458
{
	z-index: 12;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 282px;
}

#u464-4
{
	z-index: 14;
	width: 83px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u466-4
{
	z-index: 18;
	width: 67px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 3px;
}

#u467-4
{
	z-index: 22;
	width: 77px;
	min-height: 20px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#u468-4
{
	z-index: 26;
	width: 81px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
}

#u471
{
	z-index: 34;
	width: 103px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 9px;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
}

#u472-4
{
	z-index: 35;
	width: 79px;
	min-height: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#u473-4
{
	z-index: 39;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 4px;
}

#u474
{
	z-index: 43;
	width: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 127px;
}

#u475-5
{
	z-index: 44;
	width: 54px;
	min-height: 22px;
	background-color: transparent;
	color: #0000FF;
	margin-bottom: -17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -4px;
}

#u475-2
{
	text-align: center;
}

#u476-4
{
	z-index: 49;
	width: 174px;
	min-height: 27px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u452
{
	z-index: 10;
	width: 357px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 6px;
	position: relative;
}

#u481
{
	z-index: 62;
	height: 3px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u431::before,#u481::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u481-bw
{
	z-index: 62;
	margin-top: 7px;
	height: 5px;
}

#pbuttonu477
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 6px;
}

#buttonu477
{
	z-index: 53;
	width: 150px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu477:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 150px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u478
{
	z-index: 55;
	min-height: 22px;
	min-width: 88px;
	vertical-align: top;
	height: 22px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
	background: url("../images/u478.png") no-repeat 0px 0px;
}

#buttonu477:hover #u478
{
	height: 22px;
	width: 88px;
	background: url("../images/u478-r.png") no-repeat 0px 0px;
}

#buttonu477 #u478
{
	height: 22px;
	width: 88px;
}

#buttonu479
{
	z-index: 57;
	width: 145px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 186px;
	background: #CACACA url("../images/pic_35.jpg") no-repeat left bottom;
}

#buttonu479:hover
{
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	width: 145px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/pic_35.jpg") no-repeat left bottom;
}

#u480-4
{
	z-index: 58;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 32px;
}

#u480-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 367px;
}

#page .verticalspacer
{
	clear: both;
}

